@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Satoshi', sans-serif;
}

html {
  font-size: 16px;
}
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5d9799;
}

.font-satoshi {
  font-family: 'Satoshi', sans-serif;
}

.h-screen-5rem {
  height: calc(100vh - 5rem);
}

@media (min-width: 640px) {
  .revert {
    display: revert;
  }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24
}
